body {
    background-image: linear-gradient(rgb(0, 225, 255), rgb(0, 81, 255));
    background-attachment: fixed;
    margin-top: 2rem;
}

/* #inputIngreso {
    display: none;
} */

#resumenTitle, #ingresoTitle, #totalIngresoTitle, 
#gastosTitle, #totalGastosTitle, #balanceTitle,
#btnGuardar, #btnEliminar {
    display: none;
}


h1 {
    font-size: 4rem;
    color: white;
    background-color: rgba(0, 17, 255, 0.289);
    /* display: none; */
}

.input-group-text {
    background-color: rgb(255, 187, 0);
    padding-right: 1rem;
    justify-content: center;
}

p {
    text-align: center;
}

h3 {
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 17, 255, 0.289);
    /* display: none; */
}

td {
    color: antiquewhite;
    font-weight: bold;    
}

th {
    color: black;
}

.btn {
    margin-bottom: 2rem;
} 

@media screen and (min-width: 1024px) {
    .input-group {
        padding: 0 15rem;
    }
}

@media screen and (min-width: 768px) {
    .input-group {
        padding: 0 8rem;
    }
}
