body {
    background-image: linear-gradient(rgb(0, 225, 255), rgb(0, 81, 255));
    background-attachment: fixed;
    margin-top: 2rem;
}

#resumenTitle, #ingresoTitle, #totalIngresoTitle, 
#gastosTitle, #totalGastosTitle, #balanceTitle,
#btnGuardar, #btnEliminar {
    display: none;
}


img {    
    margin-bottom: 20px;
    width: inherit;    
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 17, 255, 0.144); 
    border-radius: 5rem;
}

#portada {
    text-align: center;
}

#portada button {
    margin: 20px 0;
}

#contenido {
    display: none;
}

.input-group-text {
    background-image: linear-gradient(rgb(3, 0, 204), rgb(0, 225, 255));
    padding-right: 1rem;
    justify-content: center;
    color: white;
    font-weight: bold;
}

p {
    text-align: center;
}

h3 {
    color: white;
    padding: 0.5rem;
    background-image: linear-gradient( rgb(3, 0, 204),rgb(0, 225, 255) );
}


td {
    color: antiquewhite;
    font-weight: bold;    
}

th {
    color: black;
}

.btn {
    margin-bottom: 2rem;
    font-weight: bold;
} 


@media screen and (min-width: 1024px) {
    .input-group {
        padding: 0 15rem;
    }
}

@media screen and (min-width: 768px) {
    .input-group {
        padding: 0 8rem;
    }    
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.4rem;
    }   
}